<div class="grid grid-cols-2 h-screen">
  <div class="bg-[url('/images/forest-road-above-2000px.jpg')] bg-no-repeat bg-cover bg-center">
  </div>
  <div class="flex flex-col w-full mt-20 mx-auto px-28">
    <h2 class="mb-8 font-bold">Sign in to Travel Planner</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: false) do |f| %>
      <div class="mb-4">
        <%= f.label :email,
                    class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= f.input_field :email,
                    required: false,
                    autofocus: true,
                    input_html: { class: "block w-60 rounded-lg border border-gray-300 focus:border-green-500 focus:ring-green-500 p-2",
                                  autocomplete: "email" } %>
      </div>
      <div class="mb-4">
        <%= f.label :password,
                    class: "block text-sm font-medium text-gray-700" %>
        <%= f.input_field :password,
                    required: false,
                    input_html: { class: "block w-full rounded-lg border border-gray-300 focus:border-green-500 focus:ring-green-500 p-2",
                                  autocomplete: "current-password" } %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="flex items-center mb-4">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-green-600 border-gray-300 rounded" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
        </div>
      <% end %>
      <div class="flex flex-col items-center">
        <%= f.button :submit, "Log in", class: "bg-gray-50 border border-gray-300 text-gray-900 h-8 text-sm rounded-lg hover:ring-green-500 hover:border-green-500 w-40 p-1.5 my-1" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
