<div class="flex h-screen">
  <div style="width: 100%; height: 100%;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_MAP_API_KEY'] %>"
    data-map-is-planner-map-value=false>
  </div>
  <div class="mx-10 my-4 w-80 flex flex-col">
    <div data-controller="list-sort" data-list-sort-url-value="<%= sort_cities_path %>">
      <ul data-list-sort-target="list">
        <% @cities.each do |city| %>
          <li data-id="<%= city.id %>" class="cursor-grab active:cursor-grabbing my-2">
            <%= city.address %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= link_to "Create new city", new_city_path, class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 my-2 rounded text-center" %>
    <%= link_to "Back to Planner", planner_path, class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 my-2 rounded text-center" %>
  </div>
</div>
